<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billing Application</title>
</head>
<body>
 <div class="topnav">
     <a href="/home">Home Page</a>
     <a href="/bill">New Bill</a>
     <a href="/add_item">Add items</a>
</div>
<h1>Free Tool for billing</h1>
{% block content %}
{% endblock %}
{#
<!--<p>{{my_dict}}{{my_list}}{{my_str}}</p>-->
<!--{% if my_variable == 'myra' %}-->
<!--<p> {{my_variable}} String Found</p>-->
<!--{% endif %}-->
<!--{% for item in my_variable %}-->
<!--<p>{{item}}</p>-->
<!--{% if type( in item %}-->
<!--<p>i is present</p>-->
<!--{% endif %}-->
<!--{% endfor %}-->
#}
</body>
</html>